@model List<Movie>

@foreach(var movie in Model)
{
    <div class="card" style="width:18rem">
        <div class="card-body">
            <h5 class="card-title">@movie.Title</h5>
            <p class="card-text">Release year: @movie.ReleaseYear</p>
        </div>
    </div>
}